@{
    ViewData["Title"] = "Home Page";
}

@model OBiletAPP.Dtos.Response.BusLocation.LocationResponse;

<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
      media="screen" />
<!-- Bootstrap -->
<!-- Bootstrap DatePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Bootstrap DatePicker -->
<script>
    $(document).ready(function (){

        $("#btnSwap").on('click',function(){
            var pickup = $('#originID').val();
            $('#originID').val($('#destinationID').val());
            $('#destinationID').val(pickup);
        });
    });
    </script>

    <script type="text/javascript">
    var originVal = document.getElementById("originID").Value;
    var destinationVal = document.getElementById("destinationID").Value;
            localStorage.setItem(originVal, destinationVal)

        //$("#btnGetTickets").click(function () {
        //});
        //$.window.onload = function() {
        //    var origin = localStorage.getItem("item")
        //    $("#originID").text(origin);
        //});

</script>

<div class="text-center">

    @{
        int originID, destinationID;
        string date = "";

        List<SelectListItem> listItems = new List<SelectListItem>();

        foreach (var item in Model.Data)
        {
            listItems.Add(new SelectListItem
                {
                    Text = @item.Name,
                    Value = @item.Id.ToString()
                });
        }

        <form asp-action="JourneyIndex" asp-controller="Home" method="post">

            <div>
                Nereden:
                @Html.DropDownList("originID", Model.Data.Select(item => new SelectListItem
            {
            Value = item.Id.ToString(),
            Text = item.Name
            }))
            </div>

            <div><span id="btnSwap" class="btn btn-light"><i class="glyphicon glyphicon-refresh"></i></span></div>

            <div>
                Nereye:
                @Html.DropDownList("destinationID", Model.Data.Select(item => new SelectListItem
            {
            Value = item.Id.ToString(),
            Text = item.Name
            }))
            </div>
            <div>
                @Html.TextBox("date", @DateTime.Now.ToString("yyyy-MM-dd"), new {@class="date-picker"})
            </div>

            <input id="btnGetTickets" type="submit" value="Bilet Bul" class="btn btn-info" />
        </form>
    }
</div>
